body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #a81619; 
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Navigation bar */
.navbar {
    display: flex;
    justify-content: center;
    background-color: transparent;
    padding: 10px;
    width: 100%;
}

.navbar a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Menu Button */
.menu-button {
    display: none;
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

/* Services Section */
.services {
    margin-top: 100px;
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.services h1 {
    margin-bottom: 40px;
}

.service-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    flex: 0 1 calc(33.33% - 40px); /* Three columns layout */
}

.service-box:hover {
    transform: translateY(-10px);
}

.service-icon {
    font-size: 50px;
    color: #a81619;
    margin-bottom: 20px;
}

.service-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.service-description {
    font-size: 16px;
    color: #666;
}

/* Footer section */
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #a81619;
    color: white;
    flex-direction: row;
}

.box {
    width: 30%;
}

.box iframe {
    border-radius: 10px;
    border: 0;
}

.social-icon {
    color: white;
    font-size: 24px;
    margin-right: 10px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #ddd;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .service-box {
        flex: 0 1 calc(50% - 40px); /* Two columns layout */
    }

    .navbar {
        flex-direction: column;
    }

    .menu-button {
        display: block;
    }
    
    .navbar {
        display: none;
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .service-box {
        flex: 0 1 100%; /* Stacks boxes vertically */
    }

    .navbar {
        display: none;
        flex-direction: column;
    }

    .navbar a {
        padding: 10px 5px;
        font-size: 16px;
    }
}
