body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #a81619; 
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Navigation bar */
.navbar {
    display: flex;
    justify-content: center;
    background-color: transparent; /* No background color */
    padding: 10px;
    width: 100%;
}

.navbar a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Menu Button */
.menu-button {
    display: none;
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}


.services {
    text-align: center;
    padding: 50px 20px;
}

h1 {
    margin-bottom: 40px;
    font-size: 36px;
    color: #333;
    width: 100%;
    text-align: center;
}

/* Container for service boxes */
.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centers the service boxes horizontally */
}

.service-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
    flex: 1 1 300px; /* Each box takes up 300px of space */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 350px;
    height: 300px; /* Equal height for all boxes */
    margin: 20px;
}

.service-box:hover {
    transform: scale(1.05);
    background-color: #f9f9f9;
}

.service-icon {
    font-size: 50px;
    margin-bottom: 20px;
    color: #a81619;
}

.service-title {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #333;
}

.service-description {
    font-size: 16px;
    color: #666;
    flex-grow: 1;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adds gap between rows and columns */
}

.service-box {
    flex: 0 1 calc(33.33% - 40px); /* Creates three columns with space in between */
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
  
  .box {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .box h2 {
    margin-bottom: 30px;
    font-size: 1.5rem;
    color: #333;
}

.box p, .box a {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}
  
.social-icon i {
    font-size: 2.0em; /* Increase this value to make the icons bigger */
    color: #555;
    margin: 10px 10px;
    transition: color 0.3s;
}

.social-icon:hover i, .social-icon:active {
    color: #a81619;
}


  /* Line */
  .spaced-lines {
    line-height: 2; 
  }

  
  .underline-link {
    text-decoration: none;
    position: relative;
    color: #555; /* Default link color */
    transition: color 0.3s;
}

.underline-link:hover, .underline-link.active {
    color: #a81619; /* Change color when hovered or clicked */
}

.underline-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #a81619; /* Underline color */
    bottom: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.underline-link:hover::after, .underline-link.active::after {
    width: 100%;
}

@media screen and (max-width: 768px) {

    .navbar {
        display: none;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.8); /* Adjust background color */
        position: absolute;
        top: 60px;
        width: 100%;
        z-index: 1000;
    }

    .navbar a {
        padding: 15px;
        font-size: 18px;
        border-bottom: 1px solid #fff;
    }

    .navbar a:hover {
        background-color: #ddd;
        color: black;
    }

    .menu-button {
        display: block;
    }

    .service-box {
        max-width: 250px;
        height: auto;
        }

    .container {
        flex-direction: column;
      }
    
      .box {
        border-right: none; 
        border-bottom: 1px solid #ccc; 
      }
    
      .box:last-child {
        border-bottom: none; 
      }

    
    
}

/* Very small screen adjustments */
@media screen and (max-width: 400px) {
    .navbar a {
        padding: 10px;
        font-size: 1rem;
    }

    .service-box {
        max-width: 200px;
        height: auto;
    }
}

/* For larger screens, display the navbar as normal */
@media screen and (min-width: 768px) {
    .navbar {
        display: flex !important;
    }

    .navbar a {
        flex: 1;
        text-align: center;
    }
}